/* possible class names? */
/*
.screen-container
.btn-container
.action-btn
.header-title
.header-section
.content-section
.player-container
...
*/
/*:root {
  --light-font-color: rgba(255,255,255,.9);
}*/

/*#region LAYOUT */
.aspect {
  width: 100vw; 
  height: 75vw; /* height:width ratio = 9/16 = .5625  */
  background: pink;
  max-height: 100vh;
  max-width: 133.33vh; /* 16/9 = 1.778 */
  margin: 0 auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  background-image: url('/images/bg-screen.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid {
  display: grid;
  grid-template-rows: auto 5fr 5fr 5fr 5fr;
  width: 100%;
  height: 100%;
}
.home-grid {
  grid-template-columns: 50% 25% 25%;
}
.battle-grid {
  grid-template-columns: 40% 20% 40%;
}
.grid > * {
  outline: 1px solid black;
}
/*#endregion LAYOUT */

/*#region HEADER_SECTION */
.box-header {
  /* grid */
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-header {
  display: inline-block;  
  padding: 0 1.1em;
  padding-bottom: .25em;
  font-size: 2.5em;
  line-height: 3.5em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.897);
  background: url('/images/bg-header.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
/*#endregion HEADER_SECTION */

/*#region SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.box-sidebar-left {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 6;
  position: relative;
}
.box-sidebar-right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}
.section-header {
  font-size: 2em;
  line-height: 1.2em; 
  position: absolute;
  top: -1.7em; /* 1.2em line-height + .5em space */
  left: 0;
  width: 100%; /* to add items to */
  background: #333;
  color: gold;
  padding-left: .75em;
  padding-right: .75em;
  border-radius: .4em;
  box-shadow: 3px 0 70px 12px rgba(255,255,255,.43);
}
.box-sidebar-left .section-header {
  border-top-right-radius: 2em;
}
.box-sidebar-right .section-header {
  left: initial;
  right: 0;
  text-align: right;
  border-top-left-radius: 2em;
  box-shadow: -1px 0 40px 10px rgba(0,0,0,.5);
}
/*#endregion SIDEBAR*/

/*#region BUTTON_MENU */
.container {
  margin: 1em; /* must be 1/2 the width rem and height rem */
  /* can optionally delete these */
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  outline: 1px solid black;
  /*background: #333;*/
  position: relative;
}
.btn-container {
  background-image: url('/images/button.png');
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position: center;
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-btn {
  font-size: 1.5em;
  line-height: 2em;
  width: 100%;
  text-align: center;
}
/*#endregion BUTTON_MENU */

.img-fluid {
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
}